@model TeachingAssignmentManagement.Models.PriceCoefficientViewModel
@using TeachingAssignmentManagement.Helpers;

@{
    int programType = Model.ProgramType;
    int startYear = Model.StartYear;
    int endYear = Model.EndYear;
    string unitPriceTitle = "đơn giá";
    string programTitle = MyConstants.ProgramTypes[programType];
    string tableId = this.ViewData["tableId"].ToString() ?? string.Empty;
}

<div class="table-responsive">
    <table class="table mb-0" id="@tableId">
        <thead class="table-light">
            <tr>
                <th scope="col">Cấp bậc</th>
                <th scope="col" class="text-center">Đơn giá</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rank in Model.AcademicDegreeRankDTOs)
            {
                var unitPrice = Model.ProgramDTOs.SingleOrDefault(item => item.Type == programType && item.AcademicDegreeRankId == rank.Id);
                <tr>
                    <td class="fw-bold">@rank.Id</td>
                    @if (unitPrice != null)
                    {
                        <td class="text-center">@unitPrice.UnitPrice.ToString("N0") ₫</td>
                        <td>
                            <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("EditUnitPrice", "PriceCoefficient" , new { id = unitPrice.Id })', '@(unitPriceTitle + " " + programTitle)')">
                                <i class="feather feather-edit font-medium-3 me-1"></i>
                            </a>
                            <a class="deleteRow text-danger p-0" data-original-title="Xoá" title="Xoá" onclick="deleteUnitPrice('@unitPrice.Id')">
                                <i class="feather feather-trash-2 font-medium-3 me-1">
                                </i>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="text-center">
                                Chưa được đặt <i class="feather feather-help-circle"></i>
                            </div>
                        </td>
                        <td>
                            <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("CreateUnitPrice", "PriceCoefficient", new { rankId = rank.Id, type = programType, startYear = startYear, endYear = endYear })', '@(unitPriceTitle + " " + programTitle)')">
                                <i class="feather feather-edit font-medium-3 me-1"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="d-grid gap-2 mt-1">
        <button class="editAll btn btn-primary waves-effect waves-float waves-light" tabindex="0" aria-controls="@tableId" type="button" onclick="popupForm('@Url.Action("EditAllUnitPrice", "PriceCoefficient", new { type = programType, startYear, endYear })', '@(unitPriceTitle + " " + programTitle)')">
            <i data-feather="edit-2" class="me-25"></i>
            <span>Sửa tất cả</span>
        </button>
    </div>
</div>