@model TeachingAssignmentManagement.Models.VisitingLecturerStatisticsViewModel

<div class="card-datatable">
    <div class="table-responsive">
        <table class="datatables-ajax table" id="tblStatistics">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Mã GVTG</th>
                    <th>Họ tên GVTG</th>
                    <th>Cấp bậc</th>
                    @foreach (var termId in Model.TermIds)
                    {
                        <th>@termId</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VisitingLecturerStatisticsDTOs)
                {
                    <tr>
                        <td></td>
                        <td>@item.StaffId</td>
                        <td>@item.FullName</td>
                        <td>@item.AcademicDegreeRank</td>
                        @foreach (var termId in Model.TermIds)
                        {
                            <td>@string.Join("; ", item.Subjects.Where(s => s.term_id == termId).Select(item => item.subject_id + "-" + item.name))</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/assets/js/statistics/visiting-lecturer-statistics.min.js"></script>