@{
    ViewBag.Title = "Thống kê số giờ giảng dạy";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-body">
            <!-- ChartJS section start -->
            <section>
                <!-- Line Chart Starts-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap">
                                    <h4 class="card-title">@ViewBag.Title</h4>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap mt-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input form-data" type="checkbox" id="isLesson" value="checked" />
                                        <label class="form-check-label" for="isLesson">Xem theo ca giảng</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 mb-1">
                                        <label class="form-label font-small-4" for="unit">Thống kê theo: </label>
                                        <select class="form-select" id="unit" name="unit">
                                            <option value="term">Học kỳ</option>
                                            <option value="year">Năm học</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 mb-1" id="termDiv">
                                        <label class="form-label font-small-4" for="term">Học kỳ: </label>
                                        @Html.DropDownList("term", null, "---- Chọn học kỳ ----", htmlAttributes: new { @class = "form-data form-select" })
                                    </div>
                                    <div class="col-lg-3 mb-1" id="yearDiv" style="display: none">
                                        <label class="form-label font-small-4" for="year">Năm học: </label>
                                        @Html.DropDownList("year", null, "---- Chọn năm học ----", htmlAttributes: new { @class = "form-data form-select" })
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <label class="form-label font-small-4" for="year">Ngành: </label>
                                        @Html.DropDownList("major", null, "---- Chọn ngành ----", htmlAttributes: new { @class = "form-data form-select" })
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <label class="form-label font-small-4" for="lecturerType">Loại giảng viên: </label>
                                        <select class="form-data form-select" id="lecturerType" name="lecturerType">
                                            <option value="">---- Chọn loại giảng viên ----</option>
                                            <option value="-1">Tất cả</option>
                                            <option value="CH" selected>Cơ hữu</option>
                                            <option value="TG">Thỉnh giảng</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="statisticsDiv">
                                    <div class="d-flex justify-content-center mt-2">
                                        <div class="spinner-border text-primary me-1" role="status"><span class="visually-hidden">Loading...</span></div>
                                        <p class="my-auto">Đang tải...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Line Chart Ends-->
            </section>
            <!-- ChartJS section end -->
        </div>
    </div>
</div>

<div id="loader" data-request-url="@Url.Content("~/")"></div>

@section styles {
    <link href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/app-assets/vendors/js/charts/chart.min.js"></script>
    <script src="~/app-assets/vendors/js/charts/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    @Scripts.Render("~/bundles/export-dt")
    <script src="~/app-assets/language/select2/vi.min.js"></script>
    <script src="~/assets/js/statistics/statistics-load.min.js"></script>
}