@model TeachingAssignmentManagement.Models.term

@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "Term", FormMethod.Post, new { onsubmit = "return submitForm(this)", id = "term-form" }))
{
    <div class="mb-1">
        <label class="form-label font-small-4" for="id">Học kỳ: </label>
        @Html.EditorFor(model => model.id, new { htmlAttributes = new { @type = "number", @class = "form-control", @aria_label = "Nhập học kỳ (VD: 221)", @disabled = "@disabled" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="start_year">Năm bắt đầu: </label>
        @Html.DropDownList("start_year", null, htmlAttributes: new { @class = "select2 form-select", @aria_label = "Chọn năm bắt đầu" })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="end_year">Năm kết thúc: </label>
        @Html.DropDownList("end_year", null, htmlAttributes: new { @class = "select2 form-select", @aria_label = "Chọn năm kết thúc" })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="start_week">Tuần bắt đầu: </label>
        <div class="input-group">
            @Html.EditorFor(model => model.start_week, new { htmlAttributes = new { @type = "number", @class = "touchspin touchspin-startweek", @aria_label = "Nhập tuần bắt đầu" } })
        </div>
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="start_date">Ngày bắt đầu: </label>
        @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control picker flatpickr-input", @placeholder = "Chọn ngày bắt đầu", @aria_label = "Chọn ngày bắt đầu" } })
    </div>

    <div class="row mb-1">
        <div class="col-6">
            <label class="form-label font-small-4" for="max_lesson">Tiết tối đa: </label>
            <small class="text-muted"><i>(Tiết tối đa trong 1 ngày)</i></small>
            <div class="input-group">
                @Html.EditorFor(model => model.max_lesson, new { htmlAttributes = new { @type = "number", @class = "touchspin touchspin-maxlesson", @aria_label = "Nhập tiết tối đa" } })
            </div>
        </div>
        <div class="col-6">
            <label class="form-label font-small-4" for="max_class">Lớp tối đa: </label>
            <small class="text-muted"><i>(Lớp tối đa trong 1 tuần)</i></small>
            <div class="input-group">
                @Html.EditorFor(model => model.max_class, new { htmlAttributes = new { @type = "number", @class = "touchspin touchspin-maxclass", @aria_label = "Nhập lớp tối đa" } })
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.status)

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link href="~/app-assets/css/plugins/forms/form-validation.min.css" rel="stylesheet" />
<script src="~/assets/js/form-loader.min.js"></script>