@model TeachingAssignmentManagement.Models.RankViewModels
@using TeachingAssignmentManagement.Helpers;

@{
    var ranks = Model.AcademicDegreeRankDTOs;
    int startYear = Model.StartYear;
    int endYear = Model.EndYear;
}

<div id="yearData" data-startyear="@startYear" data-endyear="@Model.EndYear"></div>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="standard-tab" data-bs-toggle="tab" href="#standard" aria-controls="standard" role="tab" aria-selected="true">CTĐT tiêu chuẩn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="special-tab" data-bs-toggle="tab" href="#special" aria-controls="special" role="tab" aria-selected="false">CTĐT đặc biệt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="foreign-tab" data-bs-toggle="tab" href="#foreign" aria-controls="foreign" role="tab" aria-selected="false">Người nước ngoài</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="standard" aria-labelledby="standard-tab" role="tabpanel">
        <div class="table-responsive">
            <table class="table mb-0" id="tblStandard">
                <thead>
                    <tr>
                        <th scope="col">Cấp bậc</th>
                        <th scope="col" class="text-center">Đơn giá</th>
                        <th scope="col" class="text-center">Hệ số tiếng Việt</th>
                        <th scope="col" class="text-center">Hệ số tiếng Anh</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rank in ranks)
                    {
                        var rankCoefficient = Model.StandardProgramDTOs.SingleOrDefault(item => item.AcademicDegreeRankId == rank.Id);
                        <tr>
                            <td>@rank.Id</td>
                            @if (rankCoefficient != null)
                            {
                                <td class="text-center">@rankCoefficient.UnitPrice.ToString("N0")</td>
                                <td class="text-center">@rankCoefficient.VietnameseCoefficient</td>
                                <td class="text-center">@rankCoefficient.ForeignCoefficient</td>
                                <td>
                                    <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("EditRankCoefficient", "Remuneration" , new { id = rankCoefficient.Id })')">
                                        <i class="feather feather-edit font-medium-3 me-1"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td colspan="3">
                                    <div class="text-center">
                                        Chưa được đặt <i class="feather feather-help-circle"></i>
                                    </div>
                                </td>
                                <td>
                                    <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("CreateRankCoefficient", "Remuneration", new { rankId = rank.Id, type = Constants.StandardProgramType, startYear = startYear, endYear = endYear })')">
                                        <i class="feather feather-edit font-medium-3 me-1"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="special" aria-labelledby="special-tab" role="tabpanel">
        <div class="table-responsive">
            <table class="table mb-0" id="tblSpecial">
                <thead>
                    <tr>
                        <th scope="col">Cấp bậc</th>
                        <th scope="col" class="text-center">Đơn giá</th>
                        <th scope="col" class="text-center">Hệ số tiếng Việt</th>
                        <th scope="col" class="text-center">Hệ số tiếng Anh</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rank in ranks)
                    {
                        var rankCoefficient = Model.SpecialProgramDTOs.SingleOrDefault(item => item.AcademicDegreeRankId == rank.Id);
                        <tr>
                            <td>@rank.Id</td>
                            @if (rankCoefficient != null)
                            {
                                <td class="text-center">@rankCoefficient.UnitPrice.ToString("N0")</td>
                                <td class="text-center">@rankCoefficient.VietnameseCoefficient</td>
                                <td class="text-center">@rankCoefficient.ForeignCoefficient</td>
                                <td>
                                    <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("EditRankCoefficient", "Remuneration" , new { id = rankCoefficient.Id })')">
                                        <i class="feather feather-edit font-medium-3 me-1"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td colspan="3">
                                    <div class="text-center">
                                        Chưa được đặt <i class="feather feather-help-circle"></i>
                                    </div>
                                </td>
                                <td>
                                    <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("CreateRankCoefficient", "Remuneration", new { rankId = rank.Id, type = Constants.SpecialProgramType, startYear = startYear, endYear = endYear })')">
                                        <i class="feather feather-edit font-medium-3 me-1"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="foreign" aria-labelledby="foreign-tab" role="tabpanel">
        <div class="table-responsive">
            <table class="table mb-0" id="tblForeign">
                <thead>
                    <tr>
                        <th scope="col">Cấp bậc</th>
                        <th scope="col" class="text-center">Đơn giá</th>
                        <th scope="col" class="text-center">Hệ số tiếng Việt</th>
                        <th scope="col" class="text-center">Hệ số tiếng Anh</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rank in ranks)
                    {
                        var rankCoefficient = Model.ForeignDTOs.SingleOrDefault(item => item.AcademicDegreeRankId == rank.Id);
                        <tr>
                            <td>@rank.Id</td>
                            @if (rankCoefficient != null)
                            {
                                <td class="text-center">@rankCoefficient.UnitPrice.ToString("N0")</td>
                                <td class="text-center">@rankCoefficient.VietnameseCoefficient</td>
                                <td class="text-center">@rankCoefficient.ForeignCoefficient</td>
                                <td>
                                    <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("EditRankCoefficient", "Remuneration" , new { id = rankCoefficient.Id })')">
                                        <i class="feather feather-edit font-medium-3 me-1"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td colspan="3">
                                    <div class="text-center">
                                        Chưa được đặt <i class="feather feather-help-circle"></i>
                                    </div>
                                </td>
                                <td>
                                    <a class="editRow text-success p-0" data-original-title="Chỉnh sửa" title="Chỉnh sửa" onclick="popupForm('@Url.Action("CreateRankCoefficient", "Remuneration", new { rankId = rank.Id, type = Constants.ForeignType, startYear = startYear, endYear = endYear })')">
                                        <i class="feather feather-edit font-medium-3 me-1"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/assets/js/remuneration/rank-coefficient.js"></script>