@model List<TeachingAssignmentManagement.Models.RemunerationDTO>

<div class="alert alert-primary mt-1" role="alert">
    <div class="alert-body"><b><i class="feather feather-help-circle"></i> Lưu ý: </b>Hệ thống chỉ hiển thị thù lao của những giảng viên thỉnh giảng.</div>
</div>
<div class="card-datatable">
    <table class="datatables-ajax table" id="tblRemuneration">
        <thead class="table-light">
            <tr>
                <th></th>
                <th>Mã GV</th>
                <th>Tên GV</th>
                <th>Cấp bậc</th>
                <th>Thù lao</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.StaffId</td>
                    <td>@item.FullName</td>
                    <td>@item.AcademicDegreeRankId</td>
                    <td>@item.Remuneration</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/remuneration/remuneration.js"></script>