@model TeachingAssignmentManagement.Models.subject

@{
    Layout = null;
}

@using (Html.BeginForm("EditSubject", "Remuneration", FormMethod.Post, new { onsubmit = "return submitForm(this)", id = "subject-form" }))
{
    @Html.HiddenFor(model => model.id)

    <div class="row mb-1">
        <div class="col-6">
            <label class="form-label font-small-4" for="subject_id">Mã môn học: </label>
            @Html.EditorFor(model => model.subject_id, new { htmlAttributes = new { @class = "form-control", @aria_label = "Mã môn học", @disabled = "@disabled" } })
        </div>
        <div class="col-6">
            <label class="form-label font-small-4" for="name">Tên môn học: </label>
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @aria_label = "Tên môn học", @disabled = "@disabled" } })
        </div>
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4 mb-50" for="name">Ngôn ngữ: </label>
        <small class="text-muted"><i>(Bỏ chọn nếu ngôn ngữ không phải tiếng Việt)</i></small>
        <div class="form-check form-check-inline">
            @Html.CheckBoxFor(model => model.is_vietnamese, new { @class = "form-check-input form-data" })
            <label class="form-check-label" for="is_vietnamese">Tiếng Việt</label>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-6">
            <label class="form-label font-small-4" for="theoretical_coefficient">Hệ số LT: </label>
            <div class="input-group">
                @Html.EditorFor(model => model.theoretical_coefficient, new { htmlAttributes = new { @class = "touchspin", @aria_label = "Nhập hệ số LT", @data_bts_step = "0.01", @data_bts_decimals = "2" } })
            </div>
        </div>
        <div class="col-6">
            <label class="form-label font-small-4" for="practice_coefficient">Hệ số TH: </label>
            <div class="input-group">
                @Html.EditorFor(model => model.practice_coefficient, new { htmlAttributes = new { @class = "touchspin", @aria_label = "Nhập hệ số TH", @data_bts_step = "0.01", @data_bts_decimals = "2" } })
            </div>
        </div>
    </div>

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link href="~/app-assets/css/plugins/forms/form-validation.min.css" rel="stylesheet" />
<script src="~/assets/js/form-loader.js"></script>