@model TeachingAssignmentManagement.Models.rank_coefficient
@using System.Globalization

@{
    Layout = null;
}

@using (Html.BeginForm("EditRankCoefficient", "Remuneration", FormMethod.Post, new { onsubmit = "return submitForm(this)", id = "rankcoefficient-form" }))
{
    @Html.HiddenFor(model => model.id)

    <div class="mb-1">
        <label class="form-label font-small-4" for="academic_degree_rank_id">Cấp bậc: </label>
        @Html.EditorFor(model => model.academic_degree_rank_id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="unit_price">Đơn giá: </label>
        <input type="text" class="form-control" id="unit_price" name="unit_price" value="@Model.unit_price.ToString(CultureInfo.InvariantCulture)" placeholder="Nhập đơn giá" aria-label="Nhập đơn giá" />
    </div>

    <div class="row mb-1">
        <div class="col-6">
            <label class="form-label font-small-4" for="vietnamese_coefficient">Hệ số tiếng Việt: </label>
            <div class="input-group">
                <input type="text" class="touchspin" id="vietnamese_coefficient" name="vietnamese_coefficient" value="@Model.vietnamese_coefficient.ToString(CultureInfo.InvariantCulture)" data-bts-step="0.1" data-bts-decimals="2" aria-label="Nhập hệ số LT" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label font-small-4" for="foreign_coefficient">Hệ số tiếng Anh: </label>
            <div class="input-group">
                <input type="text" class="touchspin" id="foreign_coefficient" name="foreign_coefficient" value="@Model.foreign_coefficient.ToString(CultureInfo.InvariantCulture)" data-bts-step="0.1" data-bts-decimals="2" aria-label="Nhập hệ số TH" />
            </div>
        </div>
    </div>

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link href="~/app-assets/css/plugins/forms/form-validation.min.css" rel="stylesheet" />
<script src="~/assets/js/form-loader.js"></script>