@{
    string classId = this.ViewData["classId"].ToString() ?? string.Empty;
    string lecturerId = this.ViewData["lecturerId"].ToString() ?? string.Empty;
    SelectList select = (SelectList)ViewData["lecturer"];
}

<div class="d-flex justify-content-center">
    <select class="select2 form-select" name="lecturer">
        <option value="">Chưa phân công</option>
        @foreach (SelectListItem option in select)
        {
            <option value="@option.Value" @(option.Value == lecturerId ? "selected" : "")>@option.Text</option>
        }
    </select>
    <button class="btn btn-primary waves-effect waves-float waves-light btn-icon btn-assign ms-25" data-id="@classId" type="button" aria-label="Assign">
        <i class="feather feather-check"></i>
    </button>
    <button class="btn btn-danger waves-effect waves-float waves-light btn-icon btn-delete ms-25" data-id="@classId" type="button" aria-label="Delete">
        <i class="feather feather-x"></i>
    </button>
</div>