@model TeachingAssignmentManagement.Models.TimetableViewModels

<div id="weekData" data-start-week="@ViewData["startWeek"]" data-end-week="@ViewData["endWeek"]" data-current-week="@ViewData["currentWeek"]"></div>

<div class="alert alert-primary" role="alert">
    <div class="alert-body"><strong>@ViewData["weekLabel"]</strong></div>
</div>

<div class="table-responsive personal-timetable-div">
    <table class="table table-sm table-bordered personal-timetable" id="tblTimetable">
        <thead class="table-light">
            <tr class="text-center text-nowrap">
                <th>TIẾT</th>
                @foreach (int day in Model.days)
                {
                    <th>THỨ @day</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (int startLesson in Model.startLessons)
            {
                <tr>
                    <td>@startLesson-@(startLesson + 2)</td>
                    @foreach (int day in Model.days)
                    {
                        var classes = Model.CurriculumClassDTOs.Where(x => x.Day2 == day && x.StartLesson2 == startLesson);
                        if (classes.Any())
                        {
                            <td>
                                @foreach (var item in classes)
                                {
                                    <div class="text-center" data-toggle="tooltip" data-placement="top" title="" data-original-title="Thứ 3">
                                        -Môn: @item.Curriculum.name (@item.CurriculumId)<br>-Mã LHP: @item.CurriculumClassId<br>-Phòng: @item.RoomId<br>-Tiết: @item.LessonTime
                                    </div>
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/timetable/personal-timetable.js"></script>