@model TeachingAssignmentManagement.Models.TimetableViewModels

<div id="weekData" data-start-week="@ViewData["startWeek"]" data-end-week="@ViewData["endWeek"]" data-current-week="@ViewData["currentWeek"]"></div>

<div class="alert alert-primary my-25" role="alert">
    <div class="alert-body"><strong>@ViewData["weekLabel"]</strong></div>
</div>

<div class="table-responsive personal-timetable-div">
    <table class="table table-bordered personal-timetable">
        <thead>
            <tr>
                <th>TIẾT</th>
                @foreach (int day in Model.days)
                {
                    <th>THỨ @day</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (int startLesson in Model.startLessons)
            {
                <tr>
                    <td>@startLesson-@(startLesson + 2)</td>
                    @foreach (int day in Model.days)
                    {
                        var classes = Model.CurriculumClassDTOs.Where(x => x.Day2 == day && x.StartLesson2 == startLesson);
                        if (classes.Any())
                        {
                            <td>
                                @foreach (var item in classes)
                                {
                                    string cardClass = "Lý thuyết" == item.Type ? "theory-class" : "practical-class";
                                    <div class="@cardClass" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>Thứ @day <br />Lớp:</b> @item.Type">
                                        <b><u>Môn:</u></b> @item.Curriculum.name (@item.CurriculumId)<br><b><u>Mã LHP:</u></b> @item.CurriculumClassId<br><b><u>Phòng:</u></b> @item.RoomId<br><b><u>Tiết:</u></b> @item.LessonTime
                                    </div>
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/timetable/personal-timetable.js"></script>