@model TeachingAssignmentManagement.Models.TimetableViewModels

<div class="d-flex justify-content-between align-items-center row">
    <div class="col-sm-12 col-lg-4 d-flex justify-content-center justify-content-lg-start flex-lg-nowrap flex-wrap">
        <p class="my-auto me-1"><i>Chú thích: </i></p>
        <button class="btn btn-success me-50 my-auto p-25" type="button">Lý thuyết</button>
        <button class="btn btn-warning me-50 my-auto p-25" type="button">Thực hành</button>
        <button class="btn btn-secondary my-auto p-25" type="button">Chưa phân</button>
    </div>
    <div class="col-sm-12 col-lg-5 my-50">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start flex-lg-nowrap flex-wrap">
            <select class="select2 form-select" name="curriculum">
                <option value="">Lọc môn học</option>
                @foreach (var option in ViewBag.curriculums)
                {
                    <option value="@option.id">@option.name</option>
                }
            </select>
        </div>
    </div>
    <div class="col-sm-12 col-lg-3 my-50">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap">
            <button type="button" class="btn btn-outline-secondary waves-effect btn-export"><i class="feather feather-file me-50"></i>Export</button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="alert alert-primary my-25" role="alert">
            <div class="alert-body">Số lớp đã phân công: <strong><span id="assignedCount"></span>/<span id="totalCount"></span></strong></div>
        </div>
    </div>
</div>

<div class="table-responsive assign-table-div">
    <table class="table table-bordered assign-table" id="tblAssign">
        <thead class="table-light">
            <tr class="text-center">
                <th>THỨ</th>
                @foreach (int day in Model.days)
                {
                    <th colspan="5">THỨ @day</th>
                }
            </tr>
            <tr class="text-center text-nowrap">
                <th>TIẾT</th>
                @foreach (int day in Model.days)
                {
                    foreach (int startLesson in Model.startLessons)
                    {
                        <th>@startLesson-@(startLesson + 2)</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var curriculum in ViewBag.curriculums)
            {
                <tr>
                    <td>@curriculum.name</td>
                    @foreach (int day in Model.days)
                    {
                        foreach (int startLesson in Model.startLessons)
                        {
                            var classes = Model.CurriculumClassDTOs.Where(x => x.CurriculumId == curriculum.id && x.Day2 == day && x.StartLesson2 == startLesson);
                            string dividerClass = startLesson == 1 ? "class=table-vertical-divider" : string.Empty;
                            if (classes.Any())
                            {
                                <td @dividerClass>
                                    @foreach (var item in classes)
                                    {
                                        string lecturerId = item.LecturerId ?? string.Empty;
                                        string lecturerName = item.LecturerName ?? "Chưa phân";
                                        string cardClass = "Lý thuyết" == item.Type ? "btn-success" : "btn-warning";
                                        <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>@item.CurriculumClassId </b>(@item.StudentRegisteredNumber SV)<br /><b>Phòng: </b>@item.RoomId">
                                            <button class="btn @cardClass assign-card text-nowrap my-25 p-25" type="button" id="@item.Id" data-lecturerid="@lecturerId" data-classtype="@item.Type" data-bs-toggle="popover" data-bs-content="@Html.Partial("_Assign", new ViewDataDictionary { { "lecturer", ViewBag.lecturers }, { "classId", item.Id }, { "lecturerId", lecturerId } }).ToString()" title="<span class='class-id'>@item.CurriculumClassId</span> (@item.StudentRegisteredNumber SV)" data-bs-delay="160" data-bs-trigger="click">@lecturerName</button>
                                        </div>
                                    }
                                </td>
                            }
                            else
                            {
                                <td @dividerClass></td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/timetable/timetable.min.js"></script>