@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="vi" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Website quản lý phân công giảng dạy giúp giảng viên của trường đại học Văn Lang quản lý và phân công thao tác giảng dạy dễ dàng hơn.">
    <meta name="keywords" content="phân công giảng dạy, quản lý phân công, quản lý thời khoá biểu, đại học Văn Lang">
    <meta name="author" content="RETROTEAM">
    <title>Có lỗi đã xảy ra!</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">
    @Styles.Render("~/Content/theme")
    <link href="~/app-assets/css/pages/page-misc.min.css" rel="stylesheet" />
</head>
@Html.HtmlMinify(@<text>
    <!-- BEGIN: Body-->
    <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
        <!-- BEGIN: Content-->
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- Error page-->
                    <div class="misc-wrapper">
                        <div class="misc-inner p-2 p-sm-3">
                            <div class="text-center">
                                <h2 class="mb-1">Không thể tìm thấy trang 🕵🏻‍♀️</h2>
                                <p>Oops! 😖 Yêu cầu của bạn không được tìm thấy.</p><a class="btn btn-primary btn-sm-block" href="@Url.Action("Index", "Home")">Quay về trang chủ</a><img class="w-100" src="~/assets/images/img_error.svg" alt="Error page" />
                            </div>
                        </div>
                    </div>
                    <!-- / Error page-->
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/vendors")
        @Scripts.Render("~/bundles/app")
    </body>
    <!-- END: Body-->
</text>)
</html>