@{
    ViewBag.Title = "Quản lý ngành";
}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">DataTables</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Datatable</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Basic
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic table -->
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <table class="datatables-basic table" id="tblMajor" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Mã ngành</th>
                                        <th>Tên ngành</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Mã ngành</th>
                                        <th>Tên ngành</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Basic table -->
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/jquery-ui/jquery-ui.min.css">

@section scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/app-assets/vendors/js/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        var popup, dataTable;
        $(document).ready(function () {
            // Populate Major datatable
            dataTable = $('#tblMajor').DataTable(
                {
                     ajax: {
                        dataSrc: '',
                        type: 'POST',
                        url: '@Url.Action("GetData", "Major")',
                        dataType: 'json',
                    },
                    columns: [
                        { 'data': '', defaultContent: '' },
                        { 'data': 'id' },
                        { 'data': 'name' },
                        {
                            'data': 'id', 'render': function (data)
                            {
                                return "<a class='editRow text-success p-0' data-original-title='Edit' title='Edit' onclick=PopupForm('@Url.Action("Edit","Major")/" + data + "')><i class='feather feather-edit font-medium-3 me-1'></i></a> <a class='deleteRow text-danger p-0' style='margin-left:5px' data-original-title='Delete' title='Delete' onclick=Delete('" + data + "')><i class='feather feather-trash-2 font-medium-3'></i></a>";
                            }
                        }
                    ],

                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
                            className: 'text-center',
                            targets: [0, 3]
                        },
                        { width: '20px', targets: [0] },
                        { width: '100px', targets: [3] }
                    ],
                    order: [[1, 'asc']],
                    dom: '<"card-header border-bottom p-1"<"head-label"><"dt-action-buttons text-end"B>><"d-flex justify-content-between align-items-center mx-0 row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>t<"d-flex justify-content-between mx-0 row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                    displayLength: 7,
                    lengthMenu: [7, 10, 25, 50, 75, 100],
                    buttons: [
                        {
                            extend: 'collection',
                            className: 'btn btn-outline-secondary dropdown-toggle me-2',
                            text: feather.icons['share'].toSvg({ class: 'font-small-4 me-50' }) + 'Export',
                            buttons: [
                                {
                                    extend: 'print',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'csv',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'excel',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'pdf',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'copy',
                                    className: 'dropdown-item'
                                }
                            ],
                            init: function (api, node, config) {
                                $(node).removeClass('btn-secondary');
                                $(node).parent().removeClass('btn-group');
                                setTimeout(function () {
                                    $(node).closest('.dt-buttons').removeClass('btn-group').addClass('d-inline-flex');
                                }, 50);
                            }
                        },
                        {
                            text: feather.icons['plus'].toSvg({ class: 'me-50 font-small-4' }) + 'Add New Record',
                            className: 'createNew btn btn-primary',
                            attr: {
                                'onclick': "PopupForm('@Url.Action("Create", "Major")')"
                            },
                            init: function (api, node, config) {
                                $(node).removeClass('btn-secondary');
                            }
                        }
                    ],

                    language: {
                        'url': '@Url.Content("~/app-assets/language/vi.json")'
                    }
                });

            // Create Index column datatable
            dataTable.on('draw.dt', function () {
                dataTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                    dataTable.cell(cell).invalidate('dom');
                });
                $('div.head-label').html('<h6 class="mb-0">Demo thử table nè</h6>');
            });
        });

        // Show Create and Edit form
        function PopupForm(url) {
            var formDiv = $('<div/>')
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        title: 'Quản lý ngành học',
                        width: 550,
                        open: function () {
                            // Add close icon class
                            $(this).closest(".ui-dialog")
                                .find(".ui-dialog-titlebar-close")
                                .addClass("btn-close");

                            // Prevent user from add edit delete while dialog is populated
                            $('.createNew').prop('disabled', true);
                            $('.editRow').each(function () {
                                this.style.pointerEvents = 'none';
                            });
                            $('.deleteRow').each(function () {
                                this.style.pointerEvents = 'none';
                            });
                        },
                        close: function () {
                            popup.dialog('destroy').remove();

                            // Re-enable buttons when user closes the dialog
                            $('.createNew').prop('disabled', false);
                            $('.editRow').each(function () {
                                this.style.pointerEvents = 'auto';
                            });
                            $('.deleteRow').each(function () {
                                this.style.pointerEvents = 'auto';
                            });
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            popup.dialog('close');
                            dataTable.ajax.reload();

                            // Show message when create or edit succeeded
                            toastr.options.positionClass = 'toast-bottom-right';
                            toastr["success"](data.message);
                        }
                        else {
                            // Show message when create failed
                            Swal.fire({
                                title: 'Thông báo',
                                text: 'Mã ngành này đã tồn tại!',
                                icon: 'error'
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            Swal.fire({
                title: 'Thông báo',
                text: 'Bạn có chắc muốn xoá ngành này?',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Huỷ',
                confirmButtonText: 'Xoá'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Delete item
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Major")/' + id,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();

                                // Show message when delete succeeded
                                toastr.options.positionClass = 'toast-bottom-right';
                                toastr["success"](data.message);
                            }
                            else
                            {
                                // Show message when delete failed
                                Swal.fire({
                                    title: 'Thông báo',
                                    text: 'Không thể xoá do đã có sinh viên học ngành này!',
                                    icon: 'error'
                                })
                            }
                        }
                    });
                }
            })
        }
    </script>
}