@model TeachingAssignmentManagement.Models.lecturer

@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div class="mb-1">
        <label class="form-label font-small-4" for="staff_id">Mã giảng viên: </label>
        @Html.EditorFor(model => model.staff_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập mã giảng viên", @aria_label = "Nhập mã giảng viên" } })
        @Html.ValidationMessageFor(model => model.staff_id, null, new { @class = "text-danger" })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="full_name">Tên giảng viên: </label>
        @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Tên giảng viên", @aria_label = "Nhập Tên giảng viên" } })
        @Html.ValidationMessageFor(model => model.full_name, null, new { @class = "text-danger" })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="Email">Email: </label>
        <input type="text" class="form-control" id="email" name="email" disabled value="@ViewBag.email" />
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="role_id">Role: </label>
        @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-select" })
    </div>

    <div class="float-end">
        <button type="submit" class="btn btn-success waves-effect waves-float waves-light">Lưu</button>
    </div>
}