@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <h2>Quản lý người dùng</h2>
            </div>
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="app-user-list">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75" id="totalFBoard"></h3>
                                    <span>Total Users</span>
                                </div>
                                <div class="avatar bg-light-primary p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75" id="totalDHead"></h3>
                                    <span>Paid Users</span>
                                </div>
                                <div class="avatar bg-light-danger p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user-plus" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75" id="totalLecturer"></h3>
                                    <span>Active Users</span>
                                </div>
                                <div class="avatar bg-light-success p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user-check" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75" id="totalUnassigned"></h3>
                                    <span>Pending Users</span>
                                </div>
                                <div class="avatar bg-light-warning p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user-x" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- list and filter start -->
                <div class="card">
                    <div class="card-body border-bottom">
                        <h4 class="card-title">Search & Filter</h4>
                        <div class="row">
                            <div class="col-md-4 user_role"></div>
                        </div>
                    </div>
                    <div class="card-datatable table-responsive pt-0">
                        <table class="user-list-table table" id="tblUser">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>Mã giảng viên</th>
                                    <th>Tên giảng viên</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- list and filter end -->
            </section>
            <!-- users list ends -->
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/jquery-ui/jquery-ui.min.css">

@section scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/app-assets/vendors/js/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        var userEmail = '@User.Identity.Name';
        var popup, dataTable;

        $(document).ready(function () {

            // Populate User datatable
            dataTable = $('#tblUser').DataTable(
                {
                     ajax: {
                        dataSrc: '',
                        type: 'POST',
                        url: '@Url.Action("GetData", "User")',
                        dataType: "json",
                    },
                    columns: [
                        { 'data': '', defaultContent: '' },
                        { 'data': 'staff_id' },
                        { 'data': 'full_name' },
                        { 'data': 'email' },
                        { 'data': 'role' },
                        {
                            'data': 'id', 'render': function (data, type, row) {
                                return "<a class='editRow text-success p-0' data-original-title='Edit' title='Edit' onclick=PopupForm('@Url.Action("Edit","User")/" + data + "')><i class='feather feather-edit font-medium-3 me-1'></i></a> <a class='deleteRow text-danger p-0' data-original-title='Delete' title='Delete' onclick=Delete('" + data + "','" + row.email + "')><i class='feather feather-trash-2 font-medium-3 me-1'></i></a>";
                            }
                        }
                    ],
                    columnDefs: [
                        {
                            // User Role
                            targets: 4,
                            render: function (data, type, full, meta) {
                                var $role = full['role'];
                                var roleBadgeObj = {
                                    'Chưa phân quyền': feather.icons['user'].toSvg({ class: 'font-medium-3 text-primary me-50' }),
                                    null: feather.icons['settings'].toSvg({ class: 'font-medium-3 text-warning me-50' }),
                                    'BCN khoa': feather.icons['database'].toSvg({ class: 'font-medium-3 text-success me-50' }),
                                    'Giảng viên': feather.icons['edit-2'].toSvg({ class: 'font-medium-3 text-info me-50' }),
                                    'Bộ môn': feather.icons['slack'].toSvg({ class: 'font-medium-3 text-danger me-50' })
                                };
                                return "<span class='text-truncate align-middle'>" + roleBadgeObj[$role] + $role + '</span>';
                            }
                        },
                        {
                            searchable: false,
                            orderable: false,
                            className: 'text-center',
                            targets: [0, 5]
                        },
                        { width: '20px', targets: [0] },
                        { width: '100px', targets: [5] }
                    ],

                    order: [[3, 'asc']],
                    dom: '<"d-flex justify-content-between align-items-center header-actions mx-2 row mt-75"<"col-sm-12 col-lg-4 d-flex justify-content-center justify-content-lg-start" l><"col-sm-12 col-lg-8 ps-xl-75 ps-0"<"dt-action-buttons d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap"<"me-1"f>B>>>t<"d-flex justify-content-between mx-2 row mb-1"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                    displayLength: 25,
                    lengthMenu: [[25, 50, -1], [25, 50, "Tất cả"]],
                    buttons: [
                        {
                            text: 'Add New User',
                            className: 'add-new btn btn-primary',
                            attr: {
                                'data-bs-toggle': 'modal',
                                'data-bs-target': '#modals-slide-in'
                            },
                            init: function (api, node, config) {
                                $(node).removeClass('btn-secondary');
                            }
                        }
                    ],

                    language: {
                        'url': '@Url.Content("~/app-assets/language/vi.json")'
                    },
                    initComplete: function () {
                        // Adding role filter once table initialized
                        this.api()
                            .columns(4)
                            .every(function () {
                                var column = this;
                                var select = $(
                                    '<select id="UserRole" class="form-select mb-md-0 mb-2"><option value=""> Chọn role để lọc </option></select>'
                                )
                                    .appendTo('.user_role')
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                                    });

                                column
                                    .data()
                                    .unique()
                                    .sort()
                                    .each(function (d, j) {
                                        select.append('<option value="' + d + '" class="text-capitalize">' + d + '</option>');
                                    });
                            });
                    }
                });

            // Create Index column datatable
            dataTable.on('draw.dt', function () {
                dataTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
                // Get user count
                var countFBoard = dataTable.column(4).data().filter(function (value, index) { return value === "BCN khoa" ? true : false; }).length;
                var countDHead = dataTable.column(4).data().filter(function (value, index) { return value === "Bộ môn" ? true : false; }).length;
                var countLecturer = dataTable.column(4).data().filter(function (value, index) { return value === "Giảng viên" ? true : false; }).length;
                var countUnassigned = dataTable.column(4).data().filter(function (value, index) { return value === "Chưa phân quyền" ? true : false; }).length;
                $('#totalFBoard').text(countFBoard);
                $('#totalDHead').text(countDHead);
                $('#totalLecturer').text(countLecturer);
                $('#totalUnassigned').text(countUnassigned);
            });
        });

        // Show Edit form
        function PopupForm(url) {
            var formDiv = $('<div/>')
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        title: 'Chỉnh sửa role',
                        width: 550,
                        open: function () {
                            // Add close icon class
                            $(this).closest(".ui-dialog")
                                .find(".ui-dialog-titlebar-close")
                                .addClass("btn-close");

                            // Prevent user from add edit delete while dialog is populated
                            $('.editRow').each(function () {
                                this.style.pointerEvents = 'none';
                            });
                            $('.deleteRow').each(function () {
                                this.style.pointerEvents = 'none';
                            });
                        },
                        close: function () {
                            popup.dialog('destroy').remove();

                            // Re-enable buttons when user closes the dialog
                            $('.editRow').each(function () {
                                this.style.pointerEvents = 'auto';
                            });
                            $('.deleteRow').each(function () {
                                this.style.pointerEvents = 'auto';
                            });
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.Succeeded) {
                            popup.dialog('close');
                            dataTable.ajax.reload(null, false);

                            // Show message when edit succeeded
                            toastr.options.positionClass = 'toast-bottom-right';
                            toastr["success"](data.message);
                        }
                        else {
                            // Show message when edit failed
                            Swal.fire({
                                title: 'Thông báo',
                                text: data.message,
                                icon: 'error',
                                customClass: {
                                    confirmButton: 'btn btn-primary'
                                }
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id, email) {
            Swal.fire({
                title: 'Thông báo',
                text: 'Bạn có chắc muốn xoá người dùng ' + email + ' này?',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Huỷ',
                confirmButtonText: 'Xoá',
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-outline-danger ms-1'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Delete item
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "User")/' + id,
                        success: function (data) {
                            if (data.Succeeded) {
                                dataTable.ajax.reload(null, false);

                                // Show message when delete succeeded
                                toastr.options.positionClass = 'toast-bottom-right';
                                toastr["success"](data.message);
                            }
                            else {
                                // Show message when delete failed
                                Swal.fire({
                                    title: 'Thông báo',
                                    text: data.message,
                                    icon: 'error',
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    }
                                })
                            }
                        }
                    });
                }
            })
        }
    </script>
}