@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="app-user-list">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75">21,459</h3>
                                    <span>Total Users</span>
                                </div>
                                <div class="avatar bg-light-primary p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75">4,567</h3>
                                    <span>Paid Users</span>
                                </div>
                                <div class="avatar bg-light-danger p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user-plus" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75">19,860</h3>
                                    <span>Active Users</span>
                                </div>
                                <div class="avatar bg-light-success p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user-check" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div>
                                    <h3 class="fw-bolder mb-75">237</h3>
                                    <span>Pending Users</span>
                                </div>
                                <div class="avatar bg-light-warning p-50">
                                    <span class="avatar-content">
                                        <i data-feather="user-x" class="font-medium-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- list and filter start -->
                <div class="card">
                    <div class="card-body border-bottom">
                        <h4 class="card-title">Search & Filter</h4>
                        <div class="row">
                            <div class="col-md-4 user_role"></div>
                            <div class="col-md-4 user_plan"></div>
                            <div class="col-md-4 user_status"></div>
                        </div>
                    </div>
                    <div class="card-datatable table-responsive pt-0">
                        <table class="user-list-table table"  id="tblUser">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- list and filter end -->
            </section>
            <!-- users list ends -->
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/jquery-ui/jquery-ui.min.css">


@section scripts {
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/app-assets/vendors/js/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        var userEmail = '@User.Identity.Name';
        var popup, dataTable;

        $(document).ready(function () {

            // Populate User datatable
            dataTable = $('#tblUser').DataTable(
                {
                     ajax: {
                        dataSrc: '',
                        type: 'POST',
                        url: '@Url.Action("GetData", "User")',
                        dataType: "json",
                    },

                    lengthMenu: [[25, 50, -1], [25, 50, "Tất cả"]],
                    order: [[1, 'asc']],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
                            className: 'text-center',
                            targets: [0, 3]
                        },
                        { width: '20px', targets: [0] },
                        { width: '100px', targets: [3] }
                    ],

                    columns: [
                        { 'data': null },
                        { 'data': 'email' },
                        { 'data': 'role' },
                        {
                            'data': 'id', 'render': function (data, type, row) {
                                // Reder edit and delete function
                                return "<a class='editRow success p - 0' data-original-title='' title='' onclick=PopupForm('@Url.Action("Edit","User")/" + data + "')><i class='fa fa-pencil font-medium-3 mr-2'></i></a> <a class='deleteRow danger p-0' style='margin-left:5px' data-original-title='' title='' onclick=Delete('" + data + "','" + row.email + "')><i class='fa fa-trash-o font-medium-3 mr-2'></i></a>";
                            }
                        }
                    ],

                    language: {
                        'url': '@Url.Content("~/app-assets/language/vi.json")'
                    }
                });

            // Create Index column datatable
            dataTable.on('draw.dt', function () {
                dataTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            });
        });

        // Show Edit form
        function PopupForm(url) {
            var formDiv = $('<div/>')
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        title: 'Chỉnh sửa role',
                        width: 550,
                        open: function () {
                            // Prevent user from add edit delete while dialog is populated
                            $('.editRow').each(function () {
                                this.style.pointerEvents = 'none';
                            });
                            $('.deleteRow').each(function () {
                                this.style.pointerEvents = 'none';
                            });
                        },
                        close: function () {
                            popup.dialog('destroy').remove();

                            // Re-enable buttons when user closes the dialog
                            $('.editRow').each(function () {
                                this.style.pointerEvents = 'auto';
                            });
                            $('.deleteRow').each(function () {
                                this.style.pointerEvents = 'auto';
                            });
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.Succeeded) {
                            popup.dialog('close');
                            dataTable.ajax.reload();

                            // Show message when edit succeeded
                            toastr.options.positionClass = 'toast-bottom-right';
                            toastr.success(data.message);
                        }
                        else {
                            // Show message when edit failed
                            swal({
                                title: 'Thông báo',
                                text: 'Bạn không thể chỉnh sửa người dùng admin cuối cùng!',
                                type: 'error',
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id, email) {
            swal({
                title: 'Thông báo',
                text: 'Bạn có chắc muốn xoá người dùng ' + email + ' này?',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Huỷ',
                confirmButtonText: 'Xoá',

            }).then(function () {
                // Delete item
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "User")/' + id,
                    success: function (data) {
                        if (data.Succeeded) {
                            dataTable.ajax.reload();

                            // Show message when delete succeeded
                            toastr.options.positionClass = 'toast-bottom-right';
                            toastr.success(data.message);
                        }
                        else {
                            // Show message when delete failed
                            swal({
                                title: 'Thông báo',
                                text: 'Bạn không thể xoá người dùng admin cuối cùng!',
                                type: 'error',
                            })
                        }
                    }
                });

            }, function (dismiss) {
                if (dismiss === 'cancel' || dismiss === 'close') {
                    // Ignore
                }
            })
        }
    </script>
}