@using TeachingAssignmentManagement.Helpers;

@{
    string roleName = User.Identity.GetRole();
}

<!DOCTYPE html>
<html class="loading" lang="vi" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Website quản lý phân công giảng dạy giúp giảng viên của trường đại học Văn Lang quản lý và phân công thao tác giảng dạy dễ dàng hơn.">
    <meta name="keywords" content="phân công giảng dạy, quản lý phân công, quản lý thời khoá biểu, đại học Văn Lang">
    <meta name="author" content="RETROTEAM">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">
    <link href="~/app-assets/fonts/feather/iconfont.css" rel="stylesheet" />
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/extensions")
    @RenderSection("styles", required: false)
</head>
@Html.HtmlMinify(@<text>
    <!-- BEGIN: Body-->
    <body class="vertical-layout vertical-menu-modern navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="">
        <div class="wrapper">
            <!-- BEGIN: Header-->
            <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow">
                <div class="navbar-container d-flex content">
                    <div class="bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav d-xl-none">
                            <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon feather feather-menu"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav bookmark-icons">
                            <li class="nav-item d-none d-lg-block"><a class="nav-link apptogglefullscreen" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Toàn màn hình"><i class="ficon feather feather-maximize"></i></a></li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav align-items-center ms-auto">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style"><i class="ficon feather feather-moon"></i></a></li>
                        <li class="nav-item dropdown dropdown-user">
                            <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder">@User.Identity.Name</span><span class="user-status">@roleName</span></div><span class="avatar"><img class="round" src="~/assets/images/img_user_avatar.png" alt="avatar" width="33"><span class="avatar-status-online"></span></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                                <a class="dropdown-item" href="@Url.Action("Update", "Account")"><i class="me-50 feather feather-user"></i> Hồ sơ</a>
                                <div class="dropdown-divider"></div>
                                @using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="me-50 feather feather-power"></i> Đăng xuất</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- END: Header-->
            <!-- BEGIN: Main Menu-->
            <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
                <img class="sidebar-background" src="~/assets/images/img_sidebar_background.jpg" alt="Sidebar background" />
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item me-auto">
                            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                                <span class="brand-logo">
                                    <img src="~/assets/images/img_vlu_logo.png" height="44" alt="VLU Logo" />
                                </span>
                                <span class="text align-middle brand-text"><img src="~/assets/images/img_vlu_name.png" class="ms-1" alt="VLU name" width="88" /></span>
                            </a>
                        </li>
                        <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4 feather feather-x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary feather feather-disc" data-ticon="disc"></i></a></li>
                    </ul>
                </div>
                <div class="main-menu-content">
                    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                        <li class="nav-item">
                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Home")"><i class="feather feather-home"></i><span class="menu-title text-truncate">Trang chủ</span></a>
                        </li>
                        @switch (roleName)
                        {
                            case "BCN khoa":
                                <li class="nav-item @(ViewBag.Title == "Quản lý ngành" ? "active" : string.Empty)">
                                    <a class="d-flex align-items-center" href="@Url.Action("Index", "Term")"><i class="feather feather-layers"></i><span class="menu-title text-truncate">Học kỳ và ngành</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="@Url.Action("Index", "User")"><i class="feather feather-user"></i><span class="menu-title text-truncate">Người dùng</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="#"><i class="feather feather-clock"></i><span class="menu-title text-truncate">Thời khoá biểu</span></a>
                                    <ul class="menu-content">
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Import", "Timetable")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Import TKB</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Assign", "Timetable")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Phân công</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Timetable")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Xem TKB</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="#"><i class="feather feather-bar-chart"></i><span class="menu-title text-truncate">Thống kê</span></a>
                                    <ul class="menu-content">
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Số giờ giảng viên</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Remuneration", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Số giờ quy đổi</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Personal", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Số giờ cá nhân</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Timetable", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Lịch giảng dạy</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="#"><i class="feather feather-dollar-sign"></i><span class="menu-title text-truncate">Thù lao</span></a>
                                    <ul class="menu-content">
                                        <li class="@(ViewBag.Title == "Quản lý cấp bậc" ? "active" : string.Empty)">
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "AcademicDegree")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Học hàm, học vị</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "PriceCoefficient")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Đơn giá & hệ số</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Subject")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Môn học</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "LecturerRank")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Cấp bậc GV</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Remuneration")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Thù lao GV</span></a>
                                        </li>
                                    </ul>
                                </li>
                                break;
                            case "Bộ môn":
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="#"><i class="feather feather-clock"></i><span class="menu-title text-truncate">Thời khoá biểu</span></a>
                                    <ul class="menu-content">
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Assign", "Timetable")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Phân công</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Timetable")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Xem TKB</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="#"><i class="feather feather-bar-chart"></i><span class="menu-title text-truncate">Thống kê</span></a>
                                    <ul class="menu-content">
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Số giờ giảng viên</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Personal", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Số giờ cá nhân</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Timetable", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Lịch giảng dạy</span></a>
                                        </li>
                                    </ul>
                                </li>
                                break;
                            case "Giảng viên":
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="@Url.Action("Index", "Timetable")"><i class="feather feather-clock"></i><span class="menu-title text-truncate">Thời khoá biểu</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="d-flex align-items-center" href="#"><i class="feather feather-bar-chart"></i><span class="menu-title text-truncate">Thống kê</span></a>
                                    <ul class="menu-content">
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Personal", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Số giờ cá nhân</span></a>
                                        </li>
                                        <li>
                                            <a class="d-flex align-items-center" href="@Url.Action("Timetable", "Statistics")"><i class="feather feather-circle"></i><span class="menu-item text-truncate">Lịch giảng dạy</span></a>
                                        </li>
                                    </ul>
                                </li>
                                break;
                            default:
                                break;
                        }
                    </ul>
                </div>
            </div>
            <!-- END: Main Menu-->
            <!-- BEGIN: Content-->
            @RenderBody()
            <!-- END: Content-->
            <div class="sidenav-overlay"></div>
            <div class="drag-target"></div>
            <!-- BEGIN: Footer-->
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather feather-arrow-up"></i></button>
            <!-- END: Footer-->
        </div>

        <noscript>
            <style type="text/css">
                .wrapper {
                    display: none;
                }
            </style>
            <font face="arial">
                <p class="text-dark">
                    Bạn phải bật JavaScript để sử dụng trang web này. Tuy nhiên, có vẻ như JavaScript đã bị tắt hoặc không được trình duyệt của bạn hỗ trợ. Để sử dụng chế độ xem tiêu chuẩn, hãy bật JavaScript bằng cách thay đổi tùy chọn trình duyệt của bạn, sau đó <a href="">thử lại</a>.
                </p>
            </font>
        </noscript>
        @Scripts.Render("~/bundles/vendors")
        @Scripts.Render("~/bundles/datatables")
        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/extensions")
        @RenderSection("scripts", required: false)
    </body>
    <!-- END: Body-->
</text>)
</html>