@using TeachingAssignmentManagement.Helpers;

@{
    var roleName = User.Identity.GetRole();
}

<!DOCTYPE html>
<html class="loading" lang="vi" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">
    <link href="~/app-assets/fonts/feather/iconfont.css" rel="stylesheet" />
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/extensions")
</head>
@Html.HtmlMinify(@<text>
    <!-- BEGIN: Body-->
    <body class="vertical-layout vertical-menu-modern navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="">
        <div class="wrapper">
            <!-- BEGIN: Header-->
            <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow">
                <div class="navbar-container d-flex content">
                    <div class="bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav d-xl-none">
                            <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon feather feather-menu"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav bookmark-icons">
                            <li class="nav-item d-none d-lg-block"><a class="nav-link apptogglefullscreen"><i class="ficon feather feather-maximize"></i></a></li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav align-items-center ms-auto">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style"><i class="ficon feather feather-moon"></i></a></li>
                        <li class="nav-item dropdown dropdown-user">
                            <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder">@User.Identity.Name</span><span class="user-status">@roleName</span></div><span class="avatar"><img class="round" src="~/assets/images/img_user_avatar.jpg" alt="avatar" width="33"><span class="avatar-status-online"></span></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                                @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="me-50 feather feather-power"></i> Đăng xuất</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- END: Header-->
            <!-- BEGIN: Main Menu-->
            <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item me-auto">
                            <a class="navbar-brand" href="~/html/ltr/vertical-menu-template/index.html">
                                <span class="brand-logo">
                                    <img src="~/assets/images/img_vlu_logo.png" alt="VLU Logo" />
                                </span>
                                <span class="text align-middle brand-text"><img src="~/assets/images/img_vlu_name.png" class="ms-1" alt="VLU name" width="88" /></span>
                            </a>
                        </li>
                        <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4 feather feather-x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary feather feather-disc" data-ticon="disc"></i></a></li>
                    </ul>
                </div>
                <div class="main-menu-content">
                    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                        <li class="nav-item @(ViewBag.Title == "Home Page" ? "active" : "")">
                            <a class="d-flex align-items-center" href="@Url.Action("Index", "Home", new { Area = "" })"><i class="feather feather-home"></i><span class="menu-title text-truncate">Home</span></a>
                        </li>
                        @switch (roleName)
                        {
                            case "BCN khoa":
                                <li class="nav-item @(ViewBag.Title == "Email" ? "active" : "")">
                                    <a class="d-flex align-items-center" href="@Url.Action("About", "Home", new { Area = "" })"><i class="feather feather-mail"></i><span class="menu-title text-truncate">Email</span></a>
                                </li>
                                <li class="nav-item @(ViewBag.Title == "Contact" ? "active" : "")">
                                    <a class="d-flex align-items-center" href="@Url.Action("Contact", "Home", new { Area = "" })"><i class="feather feather-message-square"></i><span class="menu-title text-truncate">Chat</span></a>
                                </li>
                                <li class="nav-item @(ViewBag.Title == "Quản lý học kỳ" || ViewBag.Title == "Quản lý ngành" ? "active" : "")">
                                    <a class="d-flex align-items-center" href="@Url.Action("Index", "Term", new { Area = "FacultyBoard" })"><i class="feather feather-layers"></i><span class="menu-title text-truncate">Học kỳ và ngành</span></a>
                                </li>
                                <li class="nav-item @(ViewBag.Title == "Quản lý người dùng" ? "active" : "")">
                                    <a class="d-flex align-items-center" href="@Url.Action("Index", "User", new { Area = "FacultyBoard" })"><i class="feather feather-user"></i><span class="menu-title text-truncate">Người dùng</span></a>
                                </li>
                                break;
                            case "Bộ môn":
                                <li class="nav-item @(ViewBag.Title == "Email" ? "active" : "")">
                                    <a class="d-flex align-items-center" href="@Url.Action("About", "Home", new { Area = "" })"><i class="feather feather-mail"></i><span class="menu-title text-truncate">Email</span></a>
                                </li>
                                break;
                            case "Giảng viên":
                                <li class="nav-item @(ViewBag.Title == "Email" ? "active" : "")">
                                    <a class="d-flex align-items-center" href="@Url.Action("About", "Home", new { Area = "" })"><i class="feather feather-mail"></i><span class="menu-title text-truncate">Email</span></a>
                                </li>
                                break;
                            default:
                                <li class="nav-item @(ViewBag.Title == "Email" ? "active" : "")">
                                    <a class="d-flex align-items-center" href="@Url.Action("About", "Home", new { Area = "" })"><i class="feather feather-mail"></i><span class="menu-title text-truncate">Email</span></a>
                                </li>
                                break;
                        }
                    </ul>
                </div>
            </div>
            <!-- END: Main Menu-->
            <!-- BEGIN: Content-->
            @RenderBody()
            <!-- END: Content-->
            <div class="sidenav-overlay"></div>
            <div class="drag-target"></div>
            <!-- BEGIN: Footer-->
            <footer class="footer footer-static footer-light">
                <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a class="ms-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-end d-none d-md-block">Hand-crafted & Made with<i class="feather feather-heart"></i></span></p>
            </footer>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather feather-arrow-up"></i></button>
            <!-- END: Footer-->
        </div>

        <noscript>
            <style type="text/css">
                .wrapper {
                    display: none;
                }
            </style>
            <font face="arial">
                <p class="text-dark">
                    Bạn phải bật JavaScript để sử dụng trang web này. Tuy nhiên, có vẻ như JavaScript đã bị tắt hoặc không được trình duyệt của bạn hỗ trợ. Để sử dụng chế độ xem tiêu chuẩn, hãy bật JavaScript bằng cách thay đổi tùy chọn trình duyệt của bạn, sau đó <a href="">thử lại</a>.
                </p>
            </font>
        </noscript>
        @Scripts.Render("~/bundles/vendors")
        @Scripts.Render("~/bundles/datatables")
        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/extensions")
        @RenderSection("scripts", required: false)
    </body>
    <!-- END: Body-->
</text>)
</html>