@model TeachingAssignmentManagement.Models.TimetableViewModels

<div id="weekData" data-start-week="@ViewData["startWeek"]" data-end-week="@ViewData["endWeek"]" data-current-week="@ViewData["currentWeek"]"></div>

<p>@ViewData["weekLabel"]</p>

<div class="table-responsive personal-timetable-div">
    <table class="table table-bordered personal-timetable" id="tblTimetable">
        <thead class="table-light">
            <tr class="text-center">
                <th>TIẾT</th>
                @foreach (int day in Model.days)
                {
                    <th>THỨ @day</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (int startLesson in Model.startLessons)
            {
                <tr>
                    <td>@startLesson-@(startLesson + 2)</td>
                    @foreach (int day in Model.days)
                    {
                        var classes = Model.CurriculumClassDTOs.Where(x => x.Day2 == day && x.StartLesson2 == startLesson);
                        if (classes.Any())
                        {
                            <td>
                                @foreach (var item in classes)
                                {
                                    @item.CurriculumClassId
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/faculty-board/timetable/personal-timetable.js"></script>