@model IEnumerable<TeachingAssignmentManagement.Models.curriculum>

@{
    ViewBag.Title = "Phân công giảng dạy";
    int[] days = { 2, 3, 4, 5, 6, 7 };
    int[] startLessons = { 1, 4, 7, 10, 13 };
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-body">
            <!-- Basic table -->
            <section>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap">
                                    <h4 class="card-title">@ViewBag.Title</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label font-small-4" for="term">Học kỳ: </label>
                                        @Html.DropDownList("term", null, "---- Chọn học kỳ ----", htmlAttributes: new { @class = "select2 form-select" })
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label font-small-4" for="major">Ngành: </label>
                                        @Html.DropDownList("major", null, "---- Chọn ngành ----", htmlAttributes: new { @class = "select2 form-select" })
                                    </div>
                                </div>
                                <div class="table-responsive assign-table">
                                    <table class="table table-bordered dataTable" id="tblAssign">
                                        <thead class="table-light">
                                            <tr class="text-center">
                                                <th>THỨ</th>
                                                @foreach (var day in days)
                                                {
                                                    <th colspan="5">THỨ @day</th>
                                                }
                                            </tr>
                                            <tr class="text-center text-nowrap">
                                                <th>TIẾT</th>
                                                @foreach (var day in days)
                                                {
                                                    foreach (var startLesson in startLessons)
                                                    {
                                                        <th>@startLesson-@(startLesson + 2)</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var curriculum in Model)
                                            {
                                                <tr>
                                                    <td>@curriculum.name</td>
                                                    @foreach (var day in days)
                                                    {
                                                        foreach (var startLesson in startLessons)
                                                        {
                                                            var classes = curriculum.curriculum_class.Where(x => x.day_2 == day && x.start_lesson_2 == startLesson).ToList();
                                                            if (classes.Count > 0)
                                                            {
                                                                <td>
                                                                    @foreach (var item in classes)
                                                                    {
                                                                        <div class="assign-card m-1">
                                                                            <div class="modal-header">
                                                                                <h6 class="text-center">@item.curriculum_class_id</h6>
                                                                                <button type="button" class="btn-close" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="card-body pt-0">
                                                                                <div class="item-name">
                                                                                    <select class="select2 form-select" id="lecturer" name="lecturer">
                                                                                        <option value="">--- Chưa phân công ---</option>
                                                                                        @foreach (var lecturer in ViewBag.lecturers)
                                                                                        {
                                                                                            if (lecturer.Value == item.lecturer_id)
                                                                                            {
                                                                                                <option value='@lecturer.Value' selected>@lecturer.Text</option>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option value='@lecturer.Value'>@lecturer.Text</option>
                                                                                            }
                                                                                        }
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Basic table -->
        </div>
    </div>
</div>

<div id="loader" data-request-url="@Url.Content("~/")"></div>

@section styles {
    <link href="~/assets/css/timetable.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/app-assets/vendors/js/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
                        // function uses for real time update
        /*setInterval(function () {
            $("#tblAssign").load("Timetable/Index #tblAssign");
        }, 2000); //refresh every 2 seconds*/
    </script>
}