@model IEnumerable<TeachingAssignmentManagement.Models.CurriculumClassDTO>

@{
    int[] days = { 2, 3, 4, 5, 6, 7 };
    int[] startLessons = { 1, 4, 7, 10, 13 };
}

<div class="table-responsive assign-table">
    <table class="table table-bordered dataTable" id="tblAssign">
        <thead class="table-light">
            <tr class="text-center">
                <th>THỨ</th>
                @foreach (var day in days)
                {
                    <th colspan="5">THỨ @day</th>
                }
            </tr>
            <tr class="text-center text-nowrap">
                <th>TIẾT</th>
                @foreach (var day in days)
                {
                    foreach (var startLesson in startLessons)
                    {
                        <th>@startLesson-@(startLesson + 2)</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var curriculum in ViewBag.curriculums)
            {
                <tr>
                    <td>@curriculum.name</td>
                    @foreach (var day in days)
                    {
                        foreach (var startLesson in startLessons)
                        {
                            var classes = Model.Where(x => x.CurriculumId == curriculum.id && x.Day2 == day && x.StartLesson2 == startLesson).ToList();
                            if (classes.Count > 0)
                            {
                                <td>
                                    @foreach (var item in classes)
                                    {
                                        string cardClass = "Lý thuyết" == item.Type ? "bg-success" : "bg-warning";
                                        <div class="assign-card m-1 @cardClass" id="@item.Id" data-bs-toggle="popover" data-bs-content="Tart macaroon marzipan I love soufflé apple pie wafer. Chocolate bar jelly caramels jujubes chocolate cake gummies." title="Click Triggered" data-bs-trigger="click" data-bs-placement="bottom">
                                            <div class="card-body">
                                                <div class="item-name">
                                                    <div class="d-flex justify-content-center">
                                                        <select class="select2 form-select" name="lecturer">
                                                            <option value="">Chưa phân công</option>
                                                            @foreach (var lecturer in ViewBag.lecturers)
                                                            {
                                                                if (lecturer.Value == item.LecturerId)
                                                                {
                                                                    <option value='@lecturer.Value' selected>@lecturer.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='@lecturer.Value'>@lecturer.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                        <button class="btn btn-primary btn-icon btn-assign ms-25" type="button" aria-label="Assign"><i class="feather feather-check"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/faculty-board/timetable/timetable.js"></script>