@model IEnumerable<TeachingAssignmentManagement.Models.CurriculumClassDTO>

@{
    int[] days = { 2, 3, 4, 5, 6, 7 };
    int[] startLessons = { 1, 4, 7, 10, 13 };
}

<div class="table-responsive assign-table">
    <table class="table table-bordered dataTable" id="tblAssign">
        <thead class="table-light">
            <tr class="text-center">
                <th>THỨ</th>
                @foreach (var day in days)
                {
                    <th colspan="5">THỨ @day</th>
                }
            </tr>
            <tr class="text-center text-nowrap">
                <th>TIẾT</th>
                @foreach (var day in days)
                {
                    foreach (var startLesson in startLessons)
                    {
                        <th>@startLesson-@(startLesson + 2)</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var curriculum in ViewBag.curriculums)
            {
                <tr>
                    <td>@curriculum.name</td>
                    @foreach (var day in days)
                    {
                        foreach (var startLesson in startLessons)
                        {
                            var classes = Model.Where(x => x.CurriculumId == curriculum.id && x.Day2 == day && x.StartLesson2 == startLesson).ToList();
                            if (classes.Count > 0)
                            {
                                <td>
                                    @foreach (var item in classes)
                                    {
                                        string cardClass = "Lý thuyết" == item.Type ? "bg-success" : "bg-warning";
                                        <button class="btn btn-primary assign-card m-1 @cardClass" type="button" id="@item.Id">@item.LecturerId</button>
                                    }
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/faculty-board/timetable/timetable.js"></script>