@model IEnumerable<TeachingAssignmentManagement.Models.CurriculumClassDTO>

@{
    int[] days = { 2, 3, 4, 5, 6, 7 };
    int[] startLessons = { 1, 4, 7, 10, 13 };
}

<div class="d-flex justify-content-between align-items-center row mb-1">
    <div class="col-sm-12 col-lg-4 d-flex justify-content-center justify-content-lg-start text-nowrap">
        <p class="my-auto me-1"><i>Chú thích: </i></p>
        <button class="btn btn-success btn-sm me-1" type="button">Lý thuyết</button>
        <button class="btn btn-warning btn-sm" type="button">Thực hành</button>
    </div>
    <div class="col-sm-12 col-lg-8">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap">
            <button type="button" class="btn btn-outline-secondary waves-effect btn-export mt-1"><i class="feather feather-file me-50"></i>Export</button>
        </div>
    </div>
</div>

<div class="table-responsive assign-table-div">
    <table class="table table-bordered assign-table" id="tblAssign">
        <thead class="table-light">
            <tr class="text-center">
                <th>THỨ</th>
                @foreach (int day in days)
                {
                    <th colspan="5">THỨ @day</th>
                }
            </tr>
            <tr class="text-center text-nowrap">
                <th>TIẾT</th>
                @foreach (int day in days)
                {
                    foreach (int startLesson in startLessons)
                    {
                        <th>@startLesson-@(startLesson + 2)</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var curriculum in ViewBag.curriculums)
            {
                <tr>
                    <td>@curriculum.name</td>
                    @foreach (int day in days)
                    {
                        foreach (int startLesson in startLessons)
                        {
                            var classes = Model.Where(x => x.CurriculumId == curriculum.id && x.Day2 == day && x.StartLesson2 == startLesson);
                            string dividerClass = startLesson == 1 ? "table-vertical-divider" : string.Empty;
                            if (classes.Any())
                            {
                                <td class="@dividerClass">
                                    @foreach (var item in classes.ToList())
                                    {
                                        string lecturerId = item.LecturerId ?? string.Empty;
                                        string lecturerName = item.LecturerName ?? "Chưa phân";
                                        string cardClass = "Lý thuyết" == item.Type ? "btn-success" : "btn-warning";
                                        <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>Loại HP:</b> @item.Type <br /><b>Phòng:</b> @item.RoomId">
                                            <button class="btn @cardClass btn-sm assign-card text-nowrap m-25" type="button" id="@item.Id" data-lecturerid="@lecturerId" data-classtype="@item.Type" data-bs-toggle="popover" data-bs-content="@Html.Partial("Assign", new ViewDataDictionary { { "lecturer", ViewBag.lecturers }, { "classId", item.Id }, { "lecturerId", lecturerId } }).ToString()" title="@item.CurriculumClassId" data-bs-delay="160" data-bs-trigger="click">@lecturerName</button>
                                        </div>
                                    }
                                </td>
                            }
                            else
                            {
                                <td class="@dividerClass"></td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/faculty-board/timetable/timetable.js"></script>