@model IEnumerable<TeachingAssignmentManagement.Models.CurriculumClassDTO>

@{
    int[] days = { 2, 3, 4, 5, 6, 7 };
    int[] startLessons = { 1, 4, 7, 10, 13 };
}

<div class="table-responsive assign-table">
    <table class="table table-bordered dataTable" id="tblAssign">
        <thead class="table-light">
            <tr class="text-center">
                <th>THỨ</th>
                @foreach (int day in days)
                {
                    <th colspan="5">THỨ @day</th>
                }
            </tr>
            <tr class="text-center text-nowrap">
                <th>TIẾT</th>
                @foreach (int day in days)
                {
                    foreach (int startLesson in startLessons)
                    {
                        <th>@startLesson-@(startLesson + 2)</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var curriculum in ViewBag.curriculums)
            {
                <tr>
                    <td>@curriculum.name</td>
                    @foreach (int day in days)
                    {
                        foreach (int startLesson in startLessons)
                        {
                            var classes = Model.Where(x => x.CurriculumId == curriculum.id && x.Day2 == day && x.StartLesson2 == startLesson).ToList();
                            if (classes.Count > 0)
                            {
                                <td>
                                    @foreach (var item in classes)
                                    {
                                        string lecturerId = item.LecturerId ?? string.Empty;
                                        string lecturerName = item.LecturerName ?? "Chưa phân";
                                        string cardClass = "Lý thuyết" == item.Type ? "btn-success" : "btn-warning";
                                        <button class="btn @cardClass assign-card text-nowrap m-25" type="button" id="@item.Id" data-bs-toggle="popover" data-lecturerid="@lecturerId" data-bs-content="@Html.Partial("Assign", new ViewDataDictionary { { "lecturer", ViewBag.lecturers }, { "classId", item.Id }, { "lecturerId", lecturerId } }).ToString()" title="Click Triggered" data-bs-delay="160" data-bs-trigger="click">@lecturerName</button>
                                    }
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/assets/js/faculty-board/timetable/timetable.js"></script>